<h1> Aula sobre a diretiva ngIf </h1>

<!-- <div 
    style="background-color: green;" 
    *ngIf="minhaProp; else meuTemplate"
> 
    Está aparecendo a div 1
</div>

<ng-template #meuTemplate>
    <div style="background-color: purple;"> A div 2 apareceu! </div>
</ng-template> -->

<ng-container *ngIf="minhaProp; then meuTemplate; else outroTemplate"></ng-container>

<ng-template #meuTemplate>
    <div style="background-color: pink;"> Sou a div then! </div>
</ng-template>

<ng-template #outroTemplate>
    <div style="background-color: teal;"> Sou a div else! </div>
</ng-template>

<button (click)="toggleProp()"> Aparecer / Desaparecer elemento </button>

<hr>

<h1> Aula sobre a diretiva ngFor </h1>
<div class="list">
    <div 
    class="item" 
    *ngFor="let person of listPessoas; let i = index; let isOdd = odd; let isFirst = first; let isLast = last"
    [class.item__odd]="isOdd"
    [class.item__highlighted]="personSelectedIndex === i"
    (click)="selectPerson(i)"
>
        <p class="item__name"> {{ i }} - {{ person.name }} </p>
        <p class="item__age"> {{ person.age }} anos </p>
        <p class="item__age" *ngIf="isFirst"> É o primeiro item </p>
        <p class="item__age" *ngIf="isLast"> É o último item </p>
    </div>
</div>

<!-- <div *ngFor="let item of listPessoas">
    <h1> {{ item }} </h1>
</div> -->