<h1> Aula sobre a diretiva ngIf </h1>

<!-- <div 
    style="background-color: green;" 
    *ngIf="minhaProp; else meuTemplate"
> 
    Está aparecendo a div 1
</div>

<ng-template #meuTemplate>
    <div style="background-color: purple;"> A div 2 apareceu! </div>
</ng-template> -->

<ng-container *ngIf="minhaProp; then meuTemplate; else outroTemplate"></ng-container>

<ng-template #meuTemplate>
    <div style="background-color: pink;"> Sou a div then! </div>
</ng-template>

<ng-template #outroTemplate>
    <div style="background-color: teal;"> Sou a div else! </div>
</ng-template>

<button (click)="toggleProp()"> Aparecer / Desaparecer elemento </button>

<hr>

<h1> Aula sobre a diretiva ngFor </h1>
<div class="list">
    <app-person
        *ngFor="let pessoa of listPessoas; let i = index; let isOdd = odd; let isFirst = first; let isLast = last; "
        [name]="pessoa.name"
        [age]="pessoa.age"
        [index]="i"
        [isOdd]="isOdd"
        [isFirst]="isFirst"
        [isLast]="isLast"
        [isSelected]="personSelectedIndex === i"
        (onPersonSelectEmitt)="selectPerson($event)"
    ></app-person>
</div>

<!-- <div *ngFor="let item of listPessoas">
    <h1> {{ item }} </h1>
</div> -->

<hr>

<h1> Aula sobre a diretiva ngStyle </h1>

<h2
[ngStyle]="{
    'font-size': fontSize + 'px',
    'color': textColor,
}"
> Sou um H2 !! </h2>

<button (click)="aumentarFontSize()"> Aumentar Fonte H2 </button>
<button (click)="toggleFontColor()"> {{ buttonText }} </button>

<hr>

<h1> Aula sobre a diretiva ngClass </h1>

<h2
    [ngClass]="{
        'is-big is-green': isGreen,
        'is-orange': !isGreen
    }"
> Sou um h2</h2>

<button (click)="setToGreen()"> Verde </button>
<button (click)="setToOrange()"> Laranja </button>

<hr>

<h1> Aula de Introdução à Pipes </h1>
<h3> Pipe de Uppercase {{ texto | uppercase }} </h3>
<!-- <h3> Pipe de JSON {{ pessoa }} </h3>
<h3> Pipe de JSON {{ pessoa | json }} </h3> -->
