<!-- Aula 1: Property Binding -->

<!--<input-->
<!--  [type]="inputType"-->
<!--  id="meu-input"-->
<!--  [value]="inputText"-->
<!--  [disabled]="isDisabled"-->
<!--  (keyup)="handleInputKeyup($event)" -->
<!--&gt;-->
<!--<button (click)="mudarTipoInput()"> Habilitar ou Desabilitar Input </button>-->


<!-- Aula 2: Event Binding -->
<!--<input-->
<!--  [type]="inputType"-->
<!--  id="meu-input"-->
<!--  [value]="inputText"-->
<!--  [disabled]="isDisabled"-->
<!--  (keyup)="handleInputKeyup($event)"-->
<!--&gt;-->
<!--<button (click)="mudarTipoInput()"> Habilitar ou Desabilitar Input </button>-->

<!-- Aula 3: Attribute Binding -->
<!--<button [attr.title]="textoBotao" (click)="buttonClick()"> Teste </button>-->
<!--<button [attr.disabled]="buttonDisable ? true : null"> Desativado? </button>-->

<!-- Aula 4: CSS Binding -->
<button [style.width]="widthButton1" [style.background-color]="bgColorButton"> Botão 1 </button>

<button [style.width.px]="widthButton2" [style.background-color]="bgColorButton"> Botão 2 </button>

<button [style]="{width: '150px', backgroundColor: 'orange'}"> Botão 3 </button>

<button [style]="stylesObj"> Botão 4 </button>

<button (click)="updateStylesObj()"> Mudar Botão 3</button>
