<!-- Aula 1: Property Binding -->

<!--<input-->
<!--  [type]="inputType"-->
<!--  id="meu-input"-->
<!--  [value]="inputText"-->
<!--  [disabled]="isDisabled"-->
<!--  (keyup)="handleInputKeyup($event)" -->
<!--&gt;-->
<!--<button (click)="mudarTipoInput()"> Habilitar ou Desabilitar Input </button>-->

<!-- Aula 2: Event Binding -->
<input
  [type]="inputType"
  id="meu-input"
  [value]="inputText"
  [disabled]="isDisabled"
  (keyup)="handleInputKeyup($event)"
>
<button (click)="mudarTipoInput()"> Habilitar ou Desabilitar Input </button>
